// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2018 PHYTEC Messtechnik GmbH
 *
 * Copyright (C) 2019-2021 PHYTEC America, LLC
 */

/dts-v1/;

#include "imx8qxp-phycore-som-emmc.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "PHYTEC i.MX8QX PCM-942";
	compatible = "phytec,imx8qxp-pcm-942", "phytec,imx8qxp-phycore-som", "fsl,imx8qxp";

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon=lpuart32,0x5a060000,115200";
		stdout-path = &lpuart0;
	};

	reg_1p8v: regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_3p3v: regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	
	reg_5p0v: regulator-5p0v {
		compatible = "regulator-fixed";
		regulator-name = "5P0V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_12p0v: regulator-12p0v {
        compatible = "regulator-fixed";
        regulator-name = "12P0V";
        regulator-min-microvolt = <12000000>;
        regulator-max-microvolt = <12000000>;
        regulator-always-on;
	};

};

/************************ I2C *************************/
&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c0>;
	status = "okay";

	imu_accel_gyro@6a {
		compatible = "st,lsm6dso";
		reg = <0x6a>;
	};

	imu_mag@1e {
		compatible = "st,lis2mdl";
		reg = <0x1e>;
	};

	rtc@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
	};

	temp_sensor@48 {
		compatible = "ti,tmp112";
		reg = <0x48>;
	};
	
	power_monitor@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		shunt-resistor = <2000>; // in micro-ohm
	};

	gps_power@44 {
		compatible = "ti,ina219";
		reg = <0x44>;
		shunt-resistor = <2000>; 
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	status = "okay";

	adcs@4f {
		compatible = "ti,ina219";
		reg = <0x4f>;
		shunt-resistor = <2000>;
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	status = "okay";
};

/*********************** UART *********************/
&lpuart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart0>;
	status = "okay";
};

&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart1>, <&pinctrl_lpuart1_rtscts>;
	fsl,uart-has-rtscts;  /* activation property */
	status = "okay";
};

&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart2>;
	status = "okay";
};

&lpuart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart3>;
	status = "okay";
};

&gpu_3d0 {
	status = "disabled";
};

&imx8_gpu_ss {
	status = "disabled";
};

&dc0_prg1 {
	status = "disabled";
};

&dc0_prg2 {
	status = "disabled";
};

&dc0_prg3 {
	status = "disabled";
};

&dc0_prg4 {
	status = "disabled";
};

&dc0_prg5 {
	status = "disabled";
};

&dc0_prg6 {
	status = "disabled";
};

&dc0_prg7 {
	status = "disabled";
};

&dc0_prg8 {
	status = "disabled";
};

&dc0_prg9 {
	status = "disabled";
};

&dc0_dpr1_channel1 {
	status = "disabled";
};

&dc0_dpr1_channel2 {
	status = "disabled";
};

&dc0_dpr1_channel3 {
	status = "disabled";
};

&dc0_dpr2_channel1 {
	status = "disabled";
};

&dc0_dpr2_channel2 {
	status = "disabled";
};

&dc0_dpr2_channel3 {
	status = "disabled";
};

&dpu1 {
	status = "disabled";
};

&usbphy1 {
	status = "okay";
};

&usbotg1 {
	dr_mode = "host";
	srp-disable;
	hnp-disable;
	adp-disable;
	disable-over-current;
	status = "okay";
};

&usb3_phy {
	status = "okay";
};

&usbotg3 {
	status = "okay";
};

&usbotg3_cdns3 {
	dr_mode = "host";
	usb-role-switch;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2_sd>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_sd>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_sd>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	no-1-8-v;
	cd-gpios = <&lsio_gpio4 22 GPIO_ACTIVE_LOW>;
	status = "okay";
};

/******************** ETHERNET *********************/
&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	nvmem-cells = <&fec_mac1>;
	nvmem-cell-names = "mac-address";
	status = "okay";
};

&mdio {
	ethphy1: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		ti,led-0-active-low;
		ti,led-2-active-low;
		enet-phy-lane-no-swap;
	};
};

/******************** FLEXCAN ********************/
&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
};

&ldb1_phy {
	status = "disabled";
};

&ldb2_phy {
	status = "disabled";
};

&ldb1 {
	status = "disabled";
};

&ldb2 {
	status = "disabled";
};

&dc0_pc {
	status = "disabled";
};

&phyx1 {
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
	status = "okay";
};

/****************** SPI *********************/
&lpspi0 {
	fsl,spi-num-chipselects = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi0>;
	status = "okay";

	mram@0 {
		reg = <0>;
		compatible = "everspin,mr25h40";
		spi-max-frequency = <40000000>;
	};

	mram@1 {
		reg = <1>;
		compatible = "everspin,mr25h40";
		spi-max-frequency = <40000000>;
	};
};

&lpspi1 {
	fsl,spi-num-chipselects = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi1>;
	status = "okay";

	satnogs@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
	};

	ebyte@1 {
		reg = <1>;
		compatible = "semtech,sx1278";
		spi-max-frequency = <10000000>;
	};
};

&lpspi2 {
	fsl,spi-num-chipselects = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi2>;
	status = "okay";

	nand_flash@0 {
		reg = <0>;
		compatible = "spi-nand";
		spi-max-frequency = <10000000>;
	};

	breakout@1 {
		reg = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
	};
};

&lpspi3 {
	fsl,spi-num-chipselects = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi3>;
	status = "okay";

	adcs@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
	};

	breakout@1 {
		reg = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
	};
};

&adc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_adc1>;
	vref-supply = <&reg_adc_vref_1v8>;
	status = "okay";
};

&lsio_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio0>;

	usb_port_select-hog {
		gpio-hog;
		gpios = <30 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "USB port select GPIO";
	};
};

&lsio_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio1>;
};

&lsio_gpio3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio3>;
};

&lsio_gpio4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio4>;
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pcm942 {
		pinctrl_hog: hoggrp {
			fsl,pins = <
				IMX8QXP_SPI0_CS1_LSIO_GPIO1_IO07					0x06000021
			>;
		};

		pinctrl_fec2: fec2grp {
			fsl,pins = <
				IMX8QXP_ESAI0_SCKR_CONN_ENET1_RGMII_TX_CTL	   		0x06000060
				IMX8QXP_ESAI0_FSR_CONN_ENET1_RGMII_TXC		   		0x06000060
				IMX8QXP_ESAI0_TX4_RX1_CONN_ENET1_RGMII_TXD0	   		0x06000060
				IMX8QXP_ESAI0_TX5_RX0_CONN_ENET1_RGMII_TXD1	   		0x06000060
				IMX8QXP_ESAI0_FST_CONN_ENET1_RGMII_TXD2		   		0x06000060
				IMX8QXP_ESAI0_SCKT_CONN_ENET1_RGMII_TXD3	   		0x06000060
				IMX8QXP_ESAI0_TX0_CONN_ENET1_RGMII_RXC		   		0x06000060
				IMX8QXP_SPDIF0_TX_CONN_ENET1_RGMII_RX_CTL	   		0x06000060
				IMX8QXP_SPDIF0_RX_CONN_ENET1_RGMII_RXD0		   		0x06000060
				IMX8QXP_ESAI0_TX3_RX2_CONN_ENET1_RGMII_RXD1	   		0x06000060
				IMX8QXP_ESAI0_TX2_RX3_CONN_ENET1_RGMII_RXD2	   		0x06000060
				IMX8QXP_ESAI0_TX1_CONN_ENET1_RGMII_RXD3		   		0x06000060
				IMX8QXP_SPDIF0_EXT_CLK_CONN_ENET1_REFCLK_125M_25M 	0x06000060
			>;
		};

		pinctrl_lpi2c0: lpi0cgrp {
			fsl,pins = <
				IMX8QXP_MIPI_CSI0_GPIO0_00_ADMA_I2C0_SCL    0x06000060
                IMX8QXP_MIPI_CSI0_GPIO0_01_ADMA_I2C0_SDA    0x06000060
			>;
		};

		pinctrl_lpi2c1: lpi1cgrp {
			fsl,pins = <
				IMX8QXP_USB_SS3_TC1_ADMA_I2C1_SCL           0x06000060
                IMX8QXP_USB_SS3_TC3_ADMA_I2C1_SDA           0x06000060
			>;
		};

		pinctrl_lpi2c2: lpi2cgrp {
			fsl,pins = <
				IMX8QXP_MIPI_DSI1_GPIO0_00_ADMA_I2C2_SCL    0x06000060
                IMX8QXP_MIPI_DSI1_GPIO0_01_ADMA_I2C2_SDA    0x06000060
			>;
		};

		pinctrl_lpi2c3: lpi3cgrp {
			fsl,pins = <
				IMX8QXP_CSI_EN_ADMA_I2C3_SCL                0x06000060
                IMX8QXP_CSI_RESET_ADMA_I2C3_SDA             0x06000060
			>;
		};

		pinctrl_lpspi0: lpspi0grp {
			fsl,pins = <
				IMX8QXP_SPI0_CS0_ADMA_SPI0_CS0              0x06000020     	/* MRAM #1 */
                IMX8QXP_SPI0_CS1_ADMA_SPI0_CS1              0x06000020		/* MRAM #2 */
                IMX8QXP_SPI0_SCK_ADMA_SPI0_SCK              0x06000060
                IMX8QXP_SPI0_SDI_ADMA_SPI0_SDI              0x06000060
                IMX8QXP_SPI0_SDO_ADMA_SPI0_SDO              0x06000060
			>;
		};

		pinctrl_lpspi1: lpspi1grp {
			fsl,pins = <
				IMX8QXP_SAI0_RXD_ADMA_SPI1_CS0              0x06000020		/* SATNOGS */
                IMX8QXP_SAI1_RXD_ADMA_SPI1_CS1              0x06000060		/* EBYTE */
				IMX8QXP_SAI0_TXC_ADMA_SPI1_SDI              0x06000060
                IMX8QXP_SAI0_TXD_ADMA_SPI1_SDO              0x06000060
				IMX8QXP_CSI_PCLK_ADMA_SPI1_SCK              0x06000060
			>;
		};

		pinctrl_lpspi2: lpspi2grp {
			fsl,pins = < 
				IMX8QXP_SPI2_CS0_ADMA_SPI2_CS0              0x06000020		/* NAND Flash */
				IMX8QXP_SAI0_TXFS_ADMA_SPI2_CS1             0x06000020		/* Breakout */
                IMX8QXP_SPI2_SCK_ADMA_SPI2_SCK              0x06000060
                IMX8QXP_SPI2_SDI_ADMA_SPI2_SDI              0x06000060
                IMX8QXP_SPI2_SDO_ADMA_SPI2_SDO              0x06000060
			>;
		};

		pinctrl_lpspi3: lpspi3grp {
			fsl,pins = <
				IMX8QXP_SPI3_CS0_ADMA_SPI3_CS0              0x06000020		/* ADCS */
                IMX8QXP_SPI3_CS1_ADMA_SPI3_CS1              0x06000020		/* Breakout */
                IMX8QXP_SPI3_SCK_ADMA_SPI3_SCK              0x06000060
                IMX8QXP_SPI3_SDI_ADMA_SPI3_SDI              0x06000060
                IMX8QXP_SPI3_SDO_ADMA_SPI3_SDO              0x06000060
			>;
		};

		pinctrl_lpuart0: lpuart0grp {
			fsl,pins = <
				IMX8QXP_UART0_RX_ADMA_UART0_RX              0x06000060
                IMX8QXP_UART0_TX_ADMA_UART0_TX              0x06000060
				IMX8QXP_ADC_IN3_M40_UART0_TX                0x00000060
				IMX8QXP_SCU_GPIO0_00_M40_UART0_RX           0x06000060
			>;
		};

		pinctrl_lpuart1: lpuart1grp {
			fsl,pins = <
				IMX8QXP_UART1_RX_ADMA_UART1_RX              0x06000060
                IMX8QXP_UART1_TX_ADMA_UART1_TX              0x06000060
			>;
		};

		pinctrl_lpuart1_rtscts: lpuart1rtsctsgrp {
			fsl,pins = <
				IMX8QXP_UART1_CTS_B_ADMA_UART1_CTS_B        0x06000060
                IMX8QXP_UART1_RTS_B_ADMA_UART1_RTS_B        0x06000060
			>;
		};

		pinctrl_lpuart2: lpuart2grp {
			fsl,pins = <
				IMX8QXP_UART2_RX_ADMA_UART2_RX              0x06000020
                IMX8QXP_UART2_TX_ADMA_UART2_TX              0x06000060
			>;
		};

		pinctrl_lpuart3: lpuart3grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN2_RX_ADMA_UART3_RX           0x06000060
                IMX8QXP_FLEXCAN2_TX_ADMA_UART3_TX           0x06000060
			>;
		};

		pinctrl_flexcan1: flexcan1grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN1_RX_ADMA_FLEXCAN1_RX        0x06000060
                IMX8QXP_FLEXCAN1_TX_ADMA_FLEXCAN1_TX        0x06000060
			>;
		};
		
		pinctrl_usdhc2_gpio: usdhc2gpiogrp {
			fsl,pins = <
				IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22         0x06000060
			>;
		};

		pinctrl_usdhc2_sd: usdhc2sdgrp {
			fsl,pins = <
				IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK			0x06000040 
				IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD			0x06000060
				IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x06000060
				IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x06000060
				IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x06000060
				IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x06000060
				IMX8QXP_USDHC1_RESET_B_CONN_USDHC1_RESET_B  0x06000060
			>;
		};

		pinctrl_adc1: adc1grp {
			fsl,pins = <
				IMX8QXP_ADC_IN0_ADMA_ADC_IN0                0x00000060
                IMX8QXP_ADC_IN1_ADMA_ADC_IN1                0x00000060
                IMX8QXP_ADC_IN2_ADMA_ADC_IN2                0x00000060
				IMX8QXP_ADC_IN4_ADMA_ADC_IN4                0x00000060
                IMX8QXP_ADC_IN5_ADMA_ADC_IN5                0x00000060
			>;
		};

		pinctrl_gpio0: gpio0grp {
			fsl,pins = <
				IMX8QXP_SCU_GPIO0_01_SCU_WDOG0_WDOG_OUT     0x06000060
				IMX8QXP_MCLK_IN0_LSIO_GPIO0_IO19            0x06000060
                IMX8QXP_MCLK_OUT0_LSIO_GPIO0_IO20           0x26000060
				IMX8QXP_SAI1_RXC_LSIO_GPIO0_IO30       		0x06000021
				IMX8QXP_SAI1_RXFS_LSIO_GPIO0_IO31      		0x06000021
			>;
		};

		pinctrl_gpio1: gpio1grp {
			fsl,pins = <
				IMX8QXP_FLEXCAN0_RX_LSIO_GPIO1_IO15         0x06000060
                IMX8QXP_FLEXCAN0_TX_LSIO_GPIO1_IO16         0x26000060
				IMX8QXP_MIPI_DSI0_I2C0_SCL_LSIO_GPIO1_IO25  0x06000060
                IMX8QXP_MIPI_DSI0_I2C0_SDA_LSIO_GPIO1_IO26  0x06000060
				IMX8QXP_MIPI_DSI0_GPIO0_00_LSIO_GPIO1_IO27  0x06000060
                IMX8QXP_MIPI_DSI0_GPIO0_01_LSIO_GPIO1_IO28  0x06000060
				IMX8QXP_MIPI_DSI1_I2C0_SDA_LSIO_GPIO1_IO30  0x06000060
				IMX8QXP_MIPI_DSI1_I2C0_SCL_LSIO_GPIO1_IO29  0x06000060
			>;
		};

		pinctrl_gpio3: gpio2grp {
			fsl,pins = <
				IMX8QXP_CSI_MCLK_LSIO_GPIO3_IO01            0x26000060
				IMX8QXP_MIPI_CSI0_MCLK_OUT_LSIO_GPIO3_IO04  0x26000060
				IMX8QXP_MIPI_CSI0_I2C0_SCL_LSIO_GPIO3_IO05  0x06000060
				IMX8QXP_MIPI_CSI0_I2C0_SDA_LSIO_GPIO3_IO06  0x06000060
				IMX8QXP_QSPI0A_DQS_LSIO_GPIO3_IO13          0x06000060
				IMX8QXP_QSPI0A_SS0_B_LSIO_GPIO3_IO14        0x06000060
				IMX8QXP_QSPI0B_SCLK_LSIO_GPIO3_IO17         0x26000060
				IMX8QXP_QSPI0B_DQS_LSIO_GPIO3_IO22          0x06000060
				IMX8QXP_QSPI0B_SS0_B_LSIO_GPIO3_IO23        0x26000060
                IMX8QXP_QSPI0B_SS1_B_LSIO_GPIO3_IO24        0x26000060
			>;
		};

		pinctrl_gpio4: gpio4grp {
			fsl,pins = <
				IMX8QXP_PCIE_CTRL0_PERST_B_LSIO_GPIO4_IO00  0x06000060
				IMX8QXP_PCIE_CTRL0_CLKREQ_B_LSIO_GPIO4_IO01 0x06000060
				IMX8QXP_PCIE_CTRL0_WAKE_B_LSIO_GPIO4_IO02   0x06000060
				IMX8QXP_USB_SS3_TC0_LSIO_GPIO4_IO03         0x06000060
				IMX8QXP_USB_SS3_TC2_LSIO_GPIO4_IO05         0x06000060
				IMX8QXP_USDHC1_VSELECT_LSIO_GPIO4_IO20		0x06000021
				IMX8QXP_USDHC1_WP_LSIO_GPIO4_IO21           0x06000060
			>;
		};
	};
};